.advantages {
	padding-bottom: 28px;

	@media (--not-mobile) {
		padding-bottom: 40px;
	}
}

.advantages__title {
	margin-right: 31px;
	margin-bottom: 28px;

	@media (--tablet-only) {
		margin-right: 56px;
		margin-bottom: 42px;
	}

	@media (--desktop-only) {
		margin-right: 68px;
		margin-bottom: 39px;
	}
}

.advantages__list {
	display: grid;
	row-gap: 22px;
	margin: 0;
	padding: 0;

	@media (--not-mobile) {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 50px;
	}

	@media (--desktop-only) {
		padding: 0 175px;
	}
}

.advantages__item {
	max-width: 250px;

	@media (--not-mobile) {
		font-size: 20px;
		line-height: 22px;
	}

	@media (--mobile-only) {
		&:nth-of-type(2n + 2) {
			order: 1;
		}
	}

	&::marker {
		color: transparent;
	}

	&::before {
		content: "";
		display: block;
		width: 55px;
		height: 38px;
		margin-bottom: 22px;
		background-color: var(--light-accent-color);
		outline: 2px dashed;
		outline-offset: -2px;
	}
}
