.advantages {
	padding-bottom: 28px;

	@media #{$not-mobile} {
		padding-bottom: 40px;
	}
}

.advantages__title {
	margin-top: 33px;
	margin-bottom: 20px;

	@media #{$tablet-only} {
		margin-top: 65px;
		margin-bottom: 33px;
	}

	@media #{$desktop-only} {
		margin-right: 68px;
		margin-bottom: 39px;
	}
}

.advantages__list {
	display: grid;
	row-gap: 18px;
	margin: 0;
	padding: 0;

	@media #{$not-mobile} {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 45px;
	}

	@media #{$desktop-only} {
		padding: 0 175px;
	}
}

.advantages__item {
	@media #{$not-mobile} {
		max-width: 295px;
		font-size: 20px;
		line-height: 22px;
	}

	@media #{$mobile-only} {
		&:nth-of-type(2n + 2) {
			order: 1;
		}
	}

	&--ecology {
		--advantages-icon: url("../../icons/stack.svg#flower");
	}

	&--handmade {
		--advantages-icon: url("../../icons/stack.svg#thread-ball");
	}

	&--price {
		--advantages-icon: url("../../icons/stack.svg#money");
	}

	&--local {
		--advantages-icon: url("../../icons/stack.svg#rocket");
	}

	&--likes {
		--advantages-icon: url("../../icons/stack.svg#heart");
	}

	&--giftbox {
		--advantages-icon: url("../../icons/stack.svg#giftbox");
	}

	&::marker {
		color: transparent;
	}

	&::before {
		content: "";
		display: block;
		width: 56px;
		height: 56px;
		margin-bottom: 9px;
		margin-left: -4px;
		mask: var(--advantages-icon) no-repeat center / contain;
		background-color: var(--light-accent-color);
	}
}
