.button {
	display: inline-block;
	box-sizing: border-box;
	font-family: inherit;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	color: var(--base-color);
	background-color: var(--major-color);
	transform: translateZ(0);
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		color: var(--major-color);
		background-color: var(--base-color);
	}

	&:active {
		color: rgb(255, 255, 255, 0.3);
	}

	&--main {
		width: 100%;
		min-height: 52px;
		padding: 16px 0;
		border: 2px solid var(--base-color);

		@media #{$not-mobile} {
			font-size: 17px;
		}
	}

	&--accent {
		width: 100%;
		min-height: 52px;
		color: var(--major-color);
		background-color: var(--light-accent-color);
		border: 2px solid var(--light-accent-color);

		&:hover {
			color: var(--major-color);
			background-color: var(--extra-dark-accent-color);
			border: 2px solid var(--extra-dark-accent-color);
		}

		&:active {
			color: var(--dark-minor-color);
			background-color: var(--extra-dark-accent-color);
			border: 2px solid var(--extra-dark-accent-color);
		}
	}

	&--small {
		padding: 18px 0;
		font-size: 17px;
		line-height: 16px;
	}

	&--compact {
		padding: 18px 0;
		font-size: 18px;
		line-height: 16px;

		@media #{$not-mobile} {
			font-size: 17px;
		}
	}
}
