.button {
	display: inline-block;
	font-family: inherit;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	color: var(--base-color);
	background-color: var(--major-color);
	transform: translateZ(0);
	text-decoration: none;
	text-transform: uppercase;

	&--main {
		width: 100%;
		min-height: 52px;
		border: 2px solid var(--base-color);
	}

	&--accent {
		width: 100%;
		min-height: 52px;
		color: var(--major-color);
		background-color: var(--light-accent-color);
		border: 2px solid var(--light-accent-color);
	}

	&--small {
		font-size: 17px;
		line-height: 16px;
	}

	&--compact {
		font-size: 18px;
		line-height: 16px;
	}
}
