.card {
	display: grid;
	border: 1px solid var(--additional-color);

	@media (--tablet-only) {
		grid-template-columns: repeat(2, 1fr);
		border-bottom: 1px solid var(--additional-color);
	}
}

.card__link-image {
	order: -1;

	@media (--tablet-only) {
		grid-row: 1 / -1;
	}
}

.card__image {
	display: block;
	background-color: var(--additional-color);
}

.card__description {
	font-size: 13px;
	line-height: 30px;
}

.card__inner {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid var(--additional-color);
}

.card__price {
	font-weight: 700;
	color: var(--main-color);
}

.card__button {
	&::before {
		content: "";
		display: block;
		width: 20px;
		height: 19px;
		background-color: var(--main-color);
		opacity: 0.2;
		outline: 2px dashed;
		outline-offset: -2px;
	}
}
