.card {
	--card-content-margin: 28px;
	display: grid;
	justify-self: center;
	border: 1px solid var(--dark-minor-color);

	@media (min-width: 465px) and (max-width: 768px) {
		--card-content-margin: 33px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto auto 1fr auto;
		border-bottom: 1px solid var(--dark-minor-color);
	}

	@media #{$desktop-only} {
		--card-content-margin: 27px;
		grid-template-rows: max-content max-content 1fr auto;
	}

	&:hover {
		box-shadow: var(--middle-shadow);
	}

	&:active {
		box-shadow: var(--small-shadow);
	}
}

.card__link {
	color: var(--main-color);

	&:hover {
		color: var(--light-dull-main-color);
	}

	&:active {
		color: var(--extra-dull-main-color);
	}
}

.card__link-image {
	justify-self: center;
	order: -1;

	@media (min-width: 465px) and (max-width: 768px) {
		grid-row: 1 / -1;
	}
}

.card__title {
	margin-top: 28px;
	margin-right: var(--card-content-margin);
	margin-bottom: 5px;
	margin-left: var(--card-content-margin);
	color: inherit;

	@media #{$mobile-only} {
		max-width: 205px;
	}

	@media #{$not-mobile} {
		font-size: 20px;
		margin-bottom: 8px;
	}
}


.card__image {
	display: block;
	background-color: var(--dark-minor-color);
	object-fit: cover;

	@media (min-width: 465px) and (max-width: 768px) {
		width: 334px;
		height: 334px;
	}

	@media (min-width: 769px) {
		width: 316px;
		height: 462px;
	}
}

.card__description {
	margin: 0 var(--card-content-margin);
	font-size: 13px;
	line-height: 30px;

	@media #{$not-mobile} {
		font-size: 15px;
	}

	@media #{$desktop-only} {
		--card-content-margin-bottom: 12px;
	}

	& p {
		margin-top: 0;
		margin-bottom: var(--card-content-margin-bottom, 18px);
	}
}

.card__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 var(--card-content-margin);
	padding-top: 22px;
	padding-bottom: 26px;
	border-top: 1px solid var(--dark-minor-color);

	@media (min-width: 465px) and (max-width: 768px) {
		grid-row: span 1 / -1;
	}

	@media #{$not-desktop} and (min-width: 769px) {
		align-items: stretch;
		padding-bottom: 17px;
	}
}

.card__price {
	font-weight: 700;
	color: var(--main-color);

	@media #{$not-mobile} {
		font-size: 17px;
	}
}

.card__button {
	&:hover {
		--card-icon-background: var(--light-accent-color);
		--card-icon-opacity: 1;
	}

	&:active {
		--card-icon-background: var(--light-accent-color);
		--card-icon-opacity: 0.3;
	}

	&::before {
		content: "";
		display: block;
		width: 22px;
		height: 22px;
		background-color: var(--card-icon-background, var(--main-color));
		mask: url("../../icons/stack.svg#cart") no-repeat center / contain;
		opacity: var(--card-icon-opacity, 0.2);
	}
}
