.catalog__header {
	background-color: var(--minor-color);
	background-image: none;
}

.catalog__title {
	margin-top: 0;
	margin-bottom: 0;
	padding: 73px 0;
	text-align: center;

	@media #{$tablet-only} {
		padding: 36px 0 75px;
	}

	@media #{$desktop-only} {
		padding: 35px 0 97px;
	}
}

.catalog__cards {
	margin-top: 30px;
	margin-bottom: 30px;

	@media #{$tablet-only} {
		margin-top: 75px;
		margin-bottom: 51px;
	}

	@media #{$desktop-only} {
		margin-top: 127px;
		margin-bottom: 54px;
	}
}

.catalog__list {
	display: grid;
	gap: 29px;
	margin: 0;
	padding: 0;

	@media #{$tablet-only} {
		row-gap: 54px;
	}

	@media (min-width: 769px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media #{$desktop-only} {
		gap: 51px;
	}
}

.catalog__item {
	&::marker {
		color: transparent;
	}
}
