.catalog__header {
	background-color: var(--minor-color);
	background-image: none;
}

.catalog__title {
	margin: 0;
	padding: 72px 0;
	text-align: center;

	@media #{$tablet-only} {
		padding: 89px 0;
	}

	@media #{$desktop-only} {
		padding: 95px 0;
	}
}

.catalog__cards {
	margin-top: 30px;
	margin-bottom: 30px;

	@media #{$tablet-only} {
		margin-top: 67px;
		margin-bottom: 53px;
	}

	@media #{$desktop-only} {
		margin-top: 111px;
		margin-bottom: 57px;
	}
}

.catalog__list {
	display: grid;
	gap: 30px;
	margin: 0;
	padding: 0;

	@media #{$tablet-only} {
		row-gap: 54px;
	}

	@media (min-width: 769px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media #{$desktop-only} {
		gap: 51px;
	}
}

.catalog__item {
	&::marker {
		color: transparent;
	}
}
