.control {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 21px;
	align-items: center;
}

.control__input {
	display: grid;
	margin: 0;
	appearance: none;

	&:checked {
		--pseudo-control-checked: "";
	}

	@media (--not-mobile) {
		--control-size: 52px;
		--control-checked-size: 23px;
	}
}

.control__input-radio {
	&::before {
		content: "";
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		display: block;
		width: var(--control-size, 42px);
		height: var(--control-size, 42px);
		box-sizing: border-box;
		border: 2px solid var(--base-color);
		border-radius: 50%;
	}

	&::after {
		content: var(--pseudo-control-checked, initial);
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		align-self: center;
		justify-self: center;
		display: block;
		width: var(--control-checked-size, 18px);
		height: var(--control-checked-size, 18px);
		background-color: var(--accent-color);
		border-radius: 50%;
	}
}

.control__input-checkbox {
	&::before {
		content: "";
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		display: block;
		width: var(--control-size, 38px);
		height: var(--control-size, 38px);
		box-sizing: border-box;
		border: 2px solid var(--base-color);
	}

	&::after {
		content: var(--pseudo-control-checked, initial);
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		align-self: center;
		justify-self: center;
		display: block;
		width: var(--control-size, 38px);
		height: var(--control-size, 38px);
		background-color: #4b0082;
		background-image: url("../../icons/checkbox-checked.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}
