.contacts {
	display: grid;
	padding: 18px 0;

	@media #{$tablet-only} {
		padding: 25px 0;
	}

	@media #{$desktop-only} {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 57px;
		padding-left: 175px;
		padding-top: 41px;
		padding-bottom: 75px;
	}
}

.contacts__content {
	display: grid;
	margin-bottom: 30px;
}

.contacts__title {
	position: relative;
	margin-top: 20px;
	margin-bottom: 18px;

	@media #{$tablet-only} {
		margin-top: 43px;
		margin-bottom: 25px;
	}

	@media #{$desktop-only} {
		margin-top: 80px;
		margin-bottom: 20px;
	}

	&::after {
		content: "";
		width: 82px;
		height: 82px;
		background: url("../../icons/stack.svg#flag") no-repeat center / contain;

		@media #{$tablet-only} {
			position: absolute;
			right: 50px;
			bottom: -15px;
		}

		@media #{$desktop-only} {
			position: absolute;
			left: -64px;
			top: -15px;
		}
	}
}

.contacts__list {
	display: grid;
	row-gap: 32px;
	margin: 10px 0;

	@media #{$tablet-only} {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 50px;
		margin: 24px 0;
	}

	@media #{$desktop-only} {
		margin-top: 15px;
		margin-bottom: 40px;
	}
}

.contacts__item {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 35px;
	font-size: 14px;
	line-height: 30px;

	@media #{$not-mobile} {
		font-size: 17px;
	}

	@media #{$tablet-only} {
		grid-template-columns: auto 1fr;
		column-gap: 25px;
	}
}

.contacts__value {
	margin-left: 0;
}

.contacts__email {
	padding-bottom: 5px;
	border-bottom: 1px solid var(--accent-color);

	&:hover {
		color: var(--extra-dark-accent-color);
		border-color: var(--extra-dark-accent-color);
	}

	&:active {
		color: var(--extra-dark-accent-color);
		border-color: rgb(70, 193, 174, 0.1);
	}
}

.contacts__map-wrapper {
	margin: 20px 0;

	@media #{$tablet-only} {
		margin: 32px 0;
	}

	@media #{$desktop-only} {
		margin-top: 30px;
	}
}

.contacts__map {
	display: block;
	background-color: var(--dark-minor-color);

	@media #{$tablet-only} {
		width: 768px;
		height: 457px;
	}

	@media #{$desktop-only} {
		width: 527px;
		height: 457px;
	}

	&--js_on {
		width: 100%;
		border: none;
	}
}

.contacts__button-wrapper {
	@media #{$tablet-only} {
		margin: 0 auto;
	}
}

.contacts__button {
	margin: 21px 0;

	@media #{$tablet-only} {
		margin: 24px 0;
		padding-right: 27px;
		padding-left: 27px;
	}

	@media #{$desktop-only} {
		margin-top: 44px;
		margin-bottom: 30px;
		padding-right: 27px;
		padding-left: 27px;
	}
}
