.contacts {
	display: grid;

	@media (--desktop-only) {
		grid-template-columns: repeat(2, 1fr);
		padding-left: 175px;
	}
}

.contacts__list {
	@media (--tablet-only) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

.contacts__name {
	line-height: 30px;
}

.contacts__value {
	line-height: 30px;
}
