.content {
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;

	@media (--not-mobile) {
		font-size: 17px;
		line-height: 30px;
	}

	&--text-size_s {
		font-size: 13px;
		line-height: 30px;

		@media (--not-mobile) {
			font-size: 15px;
		}
	}

	& p {
		margin-block: 1em;
	}

	& dl {
		font-size: 15px;
		line-height: 20px;
	}
}
