.copyright {
	display: grid;
	grid-auto-flow: column;
	justify-content: center;
	justify-self: center;
	align-items: center;
	gap: 25px;
	max-width: 250px;

	@media #{$mobile-only} {
		padding-top: 12px;
	}

	@media #{$not-mobile} {
		gap: 22px;
	}
}

.copyright__title {
	margin: 0;

	@media #{$mobile-only} {
		margin: 17px 0;
	}
}

.copyright__link {
	margin-right: -5px;

	&:hover {
		--copyright-icon-color: var(--extra-dark-accent-color);
	}

	&:active {
		--copyright-icon-color: var(--extra-dark-accent-color);
		opacity: 0.3;
	}

	&::before {
		content: "";
		display: block;
		width: 36px;
		height: 36px;
		background-color: var(--copyright-icon-color, var(--light-accent-color));
		mask: url("../../icons/stack.svg#htmlacademy") no-repeat center / contain;
	}
}
