.copyright {
	display: flex;
	justify-content: center;
	align-items: center;

	@media #{$mobile-only} {
		padding-top: 12px;
	}
}

.copyright__title {
	margin: 0;
	padding-right: 60px;

	@media #{$mobile-only} {
		margin: 17px 0;
	}
}

.copyright__link {
	&::before {
		content: "";
		position: absolute;
		width: 36px;
		height: 36px;
		margin-left: 27px;
		background-color: var(--light-accent-color);
		mask: url("../../icons/stack.svg#htmlacademy") no-repeat center / contain;
		transform: translateY(-25%);
	}
}
