.copyright {
	display: flex;
	justify-content: center;
	align-items: center;

	@media #{$mobile-only} {
		padding-top: 12px;
	}
}

.copyright__title {
	margin: 0;
	padding-right: 60px;

	@media #{$mobile-only} {
		margin: 17px 0;
	}
}

.copyright__link {
	&::before {
		content: "";
		position: absolute;
		width: 27px;
		height: 34px;
		margin-left: 27px;
		outline: 2px dashed;
		outline-offset: -2px;
		background-color: var(--light-accent-color);
		transform: translateY(-25%);
	}
}
