.custom__header {
	background-color: var(--minor-color);
	background-image: none;
}

.custom__title {
	margin-top: 0;
	margin-bottom: 0;
	padding: 73px 0;
	text-align: center;

	@media #{$tablet-only} {
		padding: 36px 0 75px;
	}

	@media #{$desktop-only} {
		padding: 95px 0;
	}
}

.custom__text {
	margin-top: 17px;
	margin-bottom: 17px;
	font-size: 13px;

	@media #{$tablet-only} {
		margin-top: 66px;
		margin-bottom: 63px;
		font-size: 17px;
		line-height: 30px;
	}

	@media #{$desktop-only} {
		margin-top: 98px;
		margin-bottom: 63px;
		padding: 0 175px;
		font-size: 17px;
		line-height: 30px;
	}
}
