.divider {
	--section-gap: 35px;
	position: relative;

	&--shape_wave {
		--is-fullwidth: 1;
		--divider-color: var(--minor-color);
		--divider-length: 100vw;
		--divider-block-pos: calc(-0.5 * var(--divider-altitude));
		--divider-shape: url("../../icons/stack.svg#wave");

		@media #{$not-mobile} {
			--divider-altitude: 24px;
			--shape-size: 39px;
		}

		@media #{$desktop-only} {
			--divider-altitude: 34px;
			--shape-size: 62.5px;
		}
	}

	&--shape_sin {
		--is-fullwidth: 1;
		--divider-color: var(--minor-color);
		--divider-length: 100vw;
		--divider-altitude: 6px;
		--shape-size: 16px;
		--divider-block-pos: calc(-0.5 * (var(--divider-altitude) + var(--section-gap)));
		--divider-shape: url("../../icons/stack.svg#sin");

		@media #{$not-mobile} {
			--shape-size: 38.4px;
			--divider-altitude: 17px;
		}

		@media #{$desktop-only} {
			--is-fullwidth: 0;
			--divider-length: 100%;
			--divider-altitude: 23px;
			--shape-size: 52.5px;
		}
	}

	&::after {
		content: "";
		position: absolute;
		inset-inline-end: calc(var(--is-fullwidth) * (100vw - 0.4px - var(--content-indent)));
		inset-block-end: var(--divider-block-pos);
		inline-size: var(--divider-length);
		block-size: var(--divider-altitude);
		background: var(--divider-shape) repeat-x center / var(--shape-size) var(--divider-altitude);
		filter: drop-shadow(var(--divider-length) 0 0 rgb(241 241 241));
	}
}
