.features__list {
	--column-count: 1;
	display: grid;
	grid-template-columns: repeat(var(--column-count), 1fr);
	margin: 0;
	padding: 0;

	@media (--not-mobile) {
		--column-count: 2;
	}
}

.features__item {
	&:nth-child(2n+1):last-child {
		grid-column: span var(--column-count);
	}

	&::marker {
		color: transparent;
	}
}

.features__link {
	display: grid;
	grid-template-columns: min-content 1fr;
	color: var(--major-color);

	@media (--desktop-only) {
		grid-template-columns: min-content 1fr 1fr;
	}
	&::after {
		content: "";
		grid-column: span 1 / -1;
		align-self: center;
		justify-self: end;
		background-color: var(--accidental-accent-color);
		outline: 2px dashed;
		outline-offset: -2px;
		opacity: var(--icon-opacity, 0.5);
	}
}

.features__accessories {
	&::after {
		width: 40px;
		height: 62px;
		margin-right: 36px;
	}
}

.features__toys {
	&::after {
		width: 60px;
		height: 60px;
		margin-right: 31px;
	}
}

.features__text {
	padding-top: 24px;
	padding-bottom: 31px;
	padding-left: 30px;

	@media (--not-mobile) {
		padding-top: 25px;
		padding-bottom: 34px;
		padding-left: 37px;
	}
}
