.features__list {
	display: grid;
	margin: 0;
	padding: 0;

	@media (--not-mobile) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.features__item {
	&::marker {
		color: transparent;
	}
}

.features__link {
	display: grid;
	grid-template-columns: min-content 1fr;
	color: var(--major-color);

	@media (--desktop-only) {
		grid-template-columns: min-content 1fr 1fr;
	}
}

.features__accessories {
	background-color: var(--light-accent-color);
}

.features__toys {
	background-color: var(--dark-accent-color);
}

.features__text {
	padding-top: 24px;
	padding-bottom: 31px;
	padding-left: 30px;

	@media (--not-mobile) {
		padding-top: 25px;
		padding-bottom: 34px;
		padding-left: 37px;
	}
}
