.features {
	background-color: var(--light-minor-color);
}

.features__list {
	--column-count: 1;
	display: grid;
	grid-template-columns: repeat(var(--column-count), 1fr);
	padding: 0;

	@media #{$not-mobile} {
		--column-count: 2;
	}
}

.features__item {
	display: grid;

	&:nth-child(2n+1):last-child {
		grid-column: span var(--column-count);
	}

	&::marker {
		color: transparent;
	}
}

.features__link {
	--interaction-shift: 0px;
	display: grid;
	grid-template-columns: min-content 1fr;
	color: var(--major-color);
	background-color: var(--button-color);
	box-shadow: 0 calc(-1 * var(--interaction-shift)) 0 0 var(--button-color);
	transform: translateY(var(--interaction-shift));

	@media #{$desktop-only} {
		grid-template-columns: min-content 1fr 1fr;
	}

	&:hover {
		--icon-opacity: 0.7;
		--button-light-background: var(--extra-light-accent-color);
		--button-dark-background: var(--extra-dark-accent-color);
		--interaction-shift: -5px;
	}

	&:active {
		--icon-opacity: 0.3;
		--button-light-background: var(--extra-light-accent-color);
		--button-dark-background: var(--extra-dark-accent-color);
	}

	&--button_light {
		--button-color: var(--button-light-background, var(--light-accent-color));
	}

	&--button_dark {
		--button-color: var(--button-dark-background, var(--dark-accent-color));
	}

	&::after {
		content: "";
		grid-column: span 1 / -1;
		align-self: center;
		justify-self: end;
		width: 62px;
		height: 62px;
		background-color: var(--accidental-accent-color);
		opacity: var(--icon-opacity, 0.5);
	}
}

.features__accessories {
	&::after {
		margin-right: 36px;
		mask-image: url("../../icons/stack.svg#lamp");
	}
}

.features__toys {
	&::after {
		margin-right: 31px;
		mask-image: url("../../icons/stack.svg#lego");
	}
}

.features__text {
	padding-top: 24px;
	padding-bottom: 31px;
	padding-left: 30px;

	@media #{$not-mobile} {
		padding-top: 25px;
		padding-bottom: 34px;
		padding-left: 37px;
	}
}
