.feedback {
	display: grid;
	margin-bottom: 26px;

	@include bg-image("feedback");

	@media #{$tablet-only} {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(5, auto);
		margin-top: 42px;
		margin-bottom: 68px;
		padding-top: 59px;
	}

	@media #{$desktop-only} {
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(6, auto);
		margin-top: 50px;
		margin-bottom: 68px;
		padding-top: 58px;
		padding-bottom: 72px;
		padding-left: 175px;
		box-sizing: border-box;
		background: var(--bg-image) no-repeat;
	}
}

.feedback__title {
	margin-top: 29px;
	margin-bottom: 5px;

	@media #{$not-mobile} {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
	}

	@media #{$tablet-only} {
		margin-top: 24px;
		margin-bottom: 18px;
	}

	@media #{$desktop-only} {
		margin-top: 20px;
		margin-bottom: 15px;
	}
}

.feedback__list {
	margin: 0;
	padding: 0;

	@media #{$not-mobile} {
		grid-column: 1 / -1;
		grid-row: 2 / -1;
	}
}

.feedback__item {
	&::marker {
		color: transparent;
	}
}

.feedback__quote {
	margin: 0;
}

.feedback__buttons-container {
	margin: -11px 0;
	z-index: 1;

	@media #{$not-mobile} {
		grid-column: -2 / -1;
		grid-row: -2 / -3;
	}
}

.feedback__button {
	margin: 48px 0;

	@media #{$tablet-only} {
		grid-column: span 2 / -1;
		grid-row: 1 / 2;
		justify-self: end;
		align-self: start;
		max-width: 175px;
	}

	@media #{$desktop-only} {
		grid-column: -2 / -1;
		grid-row: 1 / 2;
		justify-self: end;
		align-self: start;
	}
}
