.field {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	column-gap: 23px;
}

.field__input {
	padding: 17px 0;
	font-family: var(--main-font);
	font-size: 17px;
	line-height: 23px;
	color: var(--base-color);
	background-color: inherit;
	border: none;
	border-bottom: 2px solid var(--main-color);
	resize: vertical;

	@media #{$not-mobile} {
		padding: 17px;
		font-size: 19px;
		line-height: 25px;
	}

	&--border_full {
		padding: 17px;
		border: 2px solid var(--main-color);
	}

	&::placeholder {
		color: var(--main-color);
		opacity: 0.3;
	}
}
