.field {
	--field-border-color: var(--main-color);
	--field-icon-opacity: 0.2;
	display: grid;
	align-items: baseline;
	column-gap: 23px;

	@media #{$not-mobile} {
		grid-template-columns: auto 1fr;
	}

	&:hover,
	&:active {
		--field-border-color: var(--accent-color);
		--field-icon-opacity: 1;
	}

	&--no-label {
		@media #{$not-mobile} {
			grid-template-columns: 167px 1fr;
		}
	}
}

.field__input {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
	padding: 17px 0;
	padding-right: 50px;
	box-sizing: border-box;
	font-family: var(--main-font);
	font-size: 17px;
	line-height: 23px;
	color: var(--base-color);
	background-color: inherit;
	border: none;
	border-bottom: 2px solid var(--field-border-color);
	resize: vertical;

	@media #{$not-mobile} {
		grid-column: 2 / -1;
		grid-row: 1 / 2;
		padding: 17px;
		font-size: 19px;
		line-height: 25px;
	}

	&--border_full {
		padding: 17px;
		border: 2px solid var(--field-border-color);
	}

	&::placeholder {
		color: var(--main-color);
		opacity: 0.3;
	}
}

.field__input-icon {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
	justify-self: end;
	pointer-events: none;
	width: 32px;
	height: 32px;
	background-color: var(--field-border-color, var(--main-color));
	mask: var(--input-field-icon) no-repeat center / contain;
	opacity: var(--field-icon-opacity);

	@media #{$not-mobile} {
		grid-column: 2 / -1;
		grid-row: 1 / 2;
	}

	&--phone {
		--input-field-icon: url("../../icons/stack.svg#phone");
	}

	&--email {
		--input-field-icon: url("../../icons/stack.svg#mail");
	}
}
