.heading {
	font-weight: 700;
}

.heading--level_1 {
	font-size: 27px;
	line-height: 30px;
}

.heading--level_2 {
	font-size: 25px;
	line-height: 30px;
}

.heading--level_3 {
	font-size: 19px;
	line-height: 24px;
}

.heading--level_4 {
	font-size: 19px;
	line-height: 18px;
}

.heading--level_5 {
	font-size: 17px;
	line-height: 24px;
}

.heading--level_6 {
	font-size: 17px;
	line-height: 20px;
}

.heading--level_7 {
	font-size: 17px;
	line-height: 18px;
}

.heading--level_8 {
	font-size: 17px;
	line-height: 16px;
}
