.heading {
	font-weight: 700;
	color: var(--main-color);

	&--level_1 {
		font-size: 27px;
		line-height: 30px;

		@media #{$tablet-only} {
			font-size: 43px;
			line-height: 50px;
		}

		@media #{$desktop-only} {
			font-size: 53px;
			line-height: 57px;
		}
	}

	&--level_2 {
		font-size: 25px;
		line-height: 30px;

		@media #{$tablet-only} {
			font-size: 43px;
			line-height: 50px;
		}

		@media #{$desktop-only} {
			font-size: 53px;
			line-height: 57px;
		}
	}

	&--level_3 {
		font-size: 19px;
		line-height: 24px;

		@media #{$not-mobile} {
			font-size: 20px;
			line-height: 30px;
		}
	}

	&--level_4 {
		font-size: 19px;
		line-height: 18px;
	}

	&--level_5 {
		font-size: 17px;
		line-height: 24px;
	}

	&--level_6 {
		font-size: 17px;
		line-height: 20px;
	}

	&--level_7 {
		font-size: 17px;
		line-height: 18px;

		@media #{$not-mobile} {
			font-size: 19px;
		}
	}

	&--level_8 {
		font-size: 17px;
		line-height: 16px;
	}
}
