.hero {
	min-height: 282px;
	background-color: var(--light-minor-color);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	@include bg-universal("hero");

	@media #{$tablet-only} {
		min-height: 561px;
	}

	@media #{$desktop-only} {
		min-height: 564px;
	}
}

.hero__title {
	padding: 72px 0;
	text-align: center;

	@media #{$tablet-only} {
		padding: 89px 0;
	}

	@media #{$desktop-only} {
		padding: 95px 0;
	}
}
