.hero {
	min-height: 282px;
	background: var(--light-minor-color) var(--bg-image) no-repeat center / contain;

	@include bg-image("hero");

	@media #{$tablet-only} {
		min-height: 561px;
	}

	@media #{$desktop-only} {
		min-height: 564px;
	}
}

.hero__title {
	margin-top: 0;
	margin-bottom: 0;
	padding: 72px 0;
	text-align: center;

	@media #{$tablet-only} {
		padding: 89px 0;
	}

	@media #{$desktop-only} {
		padding: 95px 0;
	}
}
