.hero {
	background-color: var(--minor-color);
}

.hero__title {
	padding: 72px 0;
	text-align: center;

	@media #{$tablet-only} {
		padding: 89px 0;
	}

	@media #{$desktop-only} {
		padding: 95px 0;
	}
}
