.main-header {
	display: grid;
	align-items: center;

	@media #{$not-mobile} {
		grid-template-rows: repeat(2, 1fr);
	}

	@media #{$tablet-only} {
		grid-template-columns: repeat(2, auto);
	}

	@media #{$desktop-only} {
		grid-template-columns: repeat(3, auto);
	}
}

.main-header__logo {
	grid-area: 1 / 1 / 2 / 2;
	justify-self: center;

	@media #{$mobile-only} {
		padding-top: 21px;
		padding-bottom: 21px;
	}

	@media #{$tablet-only} {
		justify-self: start;
	}

	@media #{$desktop-only} {
		grid-column: 2 / span 1;
		grid-row: 1 / span 1;
		justify-self: center;
	}
}

.main-header__logo-image {
	display: block;

	@media #{$tablet-only} {
		width: 118px;
		height: 50px;
		margin-left: -7px;
	}

	@media #{$desktop-only} {
		width: 150px;
		height: 72px;
	}
}

.main-header__navigation {
	display: contents;
}

.main-header__note {
	position: relative;
	display: none;
	justify-self: end;
	margin: 0;

	@media #{$not-mobile} {
		--header-link-padding: 21px;
		display: block;
		grid-column: span 1 / -1;
		grid-row: 2 / -1;
		padding: var(--header-link-padding) 0;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100%;
		background-color: var(--light-minor-color);
		box-shadow: -100vw 0 0 0 var(--light-minor-color);
		z-index: -1;
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		width: 100vw;
		height: 1px;
		background-color: var(--main-color);
		box-shadow: -100vw 0 0 0 var(--main-color);
		opacity: 0.1;
	}
}
