.main-footer {
	padding: 15px 0;
	background-color: var(--minor-color);

	@media #{$not-mobile} {
		padding-top: 51px;
		padding-bottom: 58px;
	}
}

.main-footer__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	@media #{$not-mobile} {
		flex-direction: row;
	}
}

.main-footer__logo {
	display: none;

	@media #{$not-mobile} {
		display: flex;
	}
}
