.main-footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--minor-color);

	@media (--not-mobile) {
		flex-direction: row;
	}
}

.main-footer__logo {
	display: none;

	@media (--not-mobile) {
		display: block;
	}

	&::before {
		content: "";
		display: block;
		width: 102px;
		height: 34px;
		outline: 2px dashed;
		outline-offset: -2px;
		background-color: var(--main-color);
	}
}
