.modal {
	display: none;

	&--active {
		display: block;
	}
}

.modal__content {
	position: relative;
	margin: auto;
	padding-bottom: 22px;
	text-align: center;
	background-color: var(--major-color);
	border-top: 1px solid #c6c6c6;
	box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
	box-sizing: border-box;

	@media (--not-mobile) {
		max-width: 566px;
		padding-left: 108px;
		padding-right: 108px;
		border: 1px solid #c6c6c6;
	}
}

.modal__title {
	margin-top: 29px;
	margin-bottom: 7px;
	text-transform: uppercase;

	@media (--not-mobile) {
		margin-bottom: 4px;
		font-size: 30px;
		line-height: 57px;
	}
}
