.modal {
	display: none;

	&--active {
		display: block;
	}
}

.modal__content {
	position: relative;
	margin: auto;
	text-align: center;
	background-color: var(--major-color);
	border-top: 1px solid #c6c6c6;
	box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
	box-sizing: border-box;

	@media (--not-mobile) {
		border: 1px solid #c6c6c6;
	}
}

	text-transform: uppercase;

	@media (--not-mobile) {
		font-size: 30px;
		line-height: 57px;
	}
