.navigation {
	display: grid;
	grid-template-columns: 1fr min-content;
	grid-template-rows: 1fr;

	@media #{$not-mobile} {
		grid-template-rows: repeat(2, 1fr);
	}

	@media #{$tablet-only} {
		grid-template-columns: repeat(2, auto);
	}

	@media #{$desktop-only} {
		grid-template-columns: repeat(3, auto);
	}
}

.navigation__toggle {
	grid-column: span 1/ -1;
	display: block;
	padding: 25px;

	@media #{$not-mobile} {
		display: none;
	}
}

.navigation__list {
	display: none;
	margin: 0;
	padding: 0;
}

.navigation__site-navigation {
	display: none;

	@media #{$tablet-only} {
		grid-column: 1 / span 1;
		grid-row: span 1 / -1;
		display: block;
	}

	@media #{$desktop-only} {
		grid-column: 1 / span 1;
		grid-row: 1  / span 1;
		display: block;
	}
}

.navigation__user-navigation {
	display: none;

	@media #{$not-mobile} {
		grid-column: span 1 / -1;
		grid-row: 1 / span 1;
		display: block;
	}
}

.navigation__promo-navigation {
	display: none;

	@media #{$desktop-only} {
		grid-column: 1 / span 1;
		grid-row: span 1 / -1;
		display: block;
	}
}

.navigation__item {
	&::marker {
		color: transparent;
	}
}

.navigation__link {
	text-align: left;

	&--icon_on {
		@media #{$not-mobile} {
			--navigation-link-icon-on: "";
		}
	}

	&--icon_search {
		--navigation-link-icon: url("../../icons/stack.svg#search");
	}

	&--icon_cart {
		--navigation-link-icon: url("../../icons/stack.svg#cart");
	}

	&::before {
		content: var(--navigation-link-icon-on, initial);
		display: block;
		width: 22px;
		height: 22px;
		mask: var(--navigation-link-icon) no-repeat center / contain;
		background-color: var(--main-color);
		opacity: 0.2;
	}
}

.navigation__link-text {
	display: none;

	@media #{$mobile-only} {
		display: block;
	}
}
