
.navigation__toggle {
	padding: 25px;
}

.navigation__list {
	margin: 0;
	padding: 0;
}

.navigation__item {
	&::marker {
		color: transparent;
	}
}

.navigation__link {
	padding-top: 27px;
	padding-bottom: 27px;
	padding-left: 76px;
	text-align: left;
}
