.navigation {
	@media #{$not-mobile} {
		grid-template-rows: repeat(2, 1fr);
	}

	@media #{$tablet-only} {
		grid-template-columns: repeat(2, auto);
	}

	@media #{$desktop-only} {
		grid-template-columns: repeat(3, auto);
	}

	&--js-none {
		--toggle-visibility: hidden;
		--nav-list-position: static;
		position: static;
	}

	&--is-closed {
		--icon-toggle: url("../../icons/stack.svg#burger");

		@media #{$mobile-only} {
			--nav-visibility: hidden;
		}
	}
}

.navigation__toggle {
	grid-area: 1 / 1 / 2 / 2;
	justify-self: end;
	margin-inline-end: -7px;
	width: 20px;
	height: 14px;
	padding: 20px;
	border: none;
	visibility: var(--toggle-visibility, visible);
	background: var(--icon-toggle, url("../../icons/stack.svg#cross")) no-repeat center / contain;

	@media #{$not-mobile} {
		display: none;
	}

	&:hover {
		opacity: 0.6;
	}

	&:active {
		opacity: 0.3;
	}
}

.navigation__lists-container {
	display: grid;
	visibility: var(--nav-visibility, visible);
	position: var(--nav-list-position, absolute);
	top: 100%;
	width: 100%;

	@media #{$not-mobile} {
		display: contents;
	}
}

.navigation__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	padding: 0;

	@media #{$mobile-only} {
		flex-direction: column;
		align-items: stretch;
	}

	@media #{$not-mobile} {
		grid-column: span 2;
	}
}

.navigation__site-navigation {
	@media #{$tablet-only} {
		grid-area: 2 / 1 / 3 / 3;
		gap: 8px 37px;
	}

	@media #{$desktop-only} {
		grid-area: 1 / 1 / 2 / 2;
		gap: 37px 15px;
	}
}

.navigation__user-navigation {
	@media #{$not-mobile} {
		gap: 1px;
		grid-area: 1 / 2 / 2 / 4;
		justify-content: flex-end;
		align-content: center;
	}

	@media #{$desktop-only} {
		grid-area: 1 / 3 / 2 / 4;
		align-self: start;
	}
}

.navigation__promo-navigation {
	@media #{$not-desktop} {
		display: none;
	}

	@media #{$desktop-only} {
		grid-area: 2 / 1 / 3 / 2;
		column-gap: 62px;
	}
}

.navigation__item {
	position: relative;
	z-index: 2;

	@media #{$mobile-only} {
		padding: 11px 0 10px;
	}

	&::marker {
		color: transparent;
	}

	&::before {
		content: var(--has-shadow, none);
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		right: calc(100% + var(--content-indent));
		width: 100vw;
		box-shadow:
			100vw 0 0 0 var(--major-color),
			100vw 0 0 1px var(--dark-minor-color);
	}
}

.navigation__link {
	--header-link-padding: 1em;
	box-sizing: border-box;
	display: flex;
	text-align: left;
	padding: var(--header-link-padding) 0;

	@media #{$mobile-only} {
		padding-inline-start: 46px;
	}

	&--icon_on {
		--navigation-link-icon-on: "";

		@media #{$mobile-only} {
			--icon-margin-inline: -46px 24px;
		}

		@media #{$not-mobile} {
			display: grid;
			grid-auto-flow: column;
		}
	}

	&--icon_search {
		--navigation-link-icon: url("../../icons/stack.svg#search");
	}

	&--icon_cart {
		--navigation-link-icon: url("../../icons/stack.svg#cart");
	}

	&::before {
		content: var(--navigation-link-icon-on, none);
		display: block;
		margin-inline: var(--icon-margin-inline, 30px);
		margin-block: 1px;
		width: 22px;
		height: 22px;
		padding: 0;
		mask: var(--navigation-link-icon) no-repeat center / contain;
		background-color: var(--main-color);
		opacity: 0.2;
	}
}

.navigation__link-text {
	@media #{$not-mobile} {
		position: absolute;
		transform: scale(0);
	}
}
