.order-form__title {
	color: var(--light-accent-color);
}

.order-form__list {
	margin: 0;
	padding: 0;
}

.order-form__item {
	&::marker {
		color: transparent;
	}
}

.order-form__note {
	font-size: 14px;
	line-height: 16px;
}
