.order-form {
	display: grid;
	gap: 32px;

	@media #{$mobile-only} {
		padding-top: 12px;
		padding-bottom: 25px;
	}

	@media #{$not-mobile} {
		gap: 50px;
	}
}

.order-form__inner-wrapper {
	display: grid;
	gap: 34px;

	@media #{$tablet-only} {
		gap: 22px;
		padding-top: 50px;
		padding-bottom: 50px;
		background-color: var(--minor-color);
	}

	@media #{$desktop-only} {
		gap: 22px;
		padding-top: 47px;
		padding-bottom: 50px;
		background-color: var(--minor-color);
	}
}

.order-form__title {
	color: var(--light-accent-color);
	text-transform: uppercase;

	@media #{$mobile-only} {
		--title-decoration-line: "";
		display: flex;
		align-items: center;
		gap: 25px;
	}

	@media #{$tablet-only} {
		margin-top: 18px;
	}

	@media #{$desktop-only} {
		margin-left: 60px;
		margin-top: 20px;
	}

	&::after {
		content: var(--title-decoration-line, initial);
		display: block;
		flex-grow: 1;
		height: 1px;
		background-color: var(--accent-color);
	}
}

.order-form__group {
	display: grid;

	@media #{$mobile-only} {
		align-items: baseline;

		&--gap_xs {
			gap: 5px;
		}

		&--gap_m {
			gap: 24px;
		}

		&--gap_l {
			gap: 30px;
		}
	}

	@media #{$tablet-only} {
		grid-template-columns: 167px 1fr;
	}

	@media #{$desktop-only} {
		grid-template-columns: 175px 1fr;
		padding-right: 175px;
		box-sizing: border-box;
	}
}

.order-form__group-checkbox {
	@media #{$desktop-only} {
		padding-right: 0;
	}
}

.order-form__control-container {
	@media #{$not-mobile} {
		grid-column: 2 / -1;
	}
}

.order-form__list {
	margin: 0;
	padding: 0;
}

.order-form__radio {
	display: grid;
	gap: 11px;

	@media #{$not-mobile} {
		gap: 24px;
	}
}


.order-form__checkbox {
	display: grid;
	gap: 23px;

	@media #{$tablet-only} {
		grid-template-columns: repeat(2, 1fr);
	}

	@media #{$desktop-only} {
		grid-template-columns: repeat(3, auto);
		justify-content: start;
		gap: 23px 100px;
	}
}

.order-form__item {
	&::marker {
		color: transparent;
	}
}

.order-form__user-name {
	display: grid;
	gap: 22px;

	@media #{$not-mobile} {
		gap: 23px;
	}
}

.order-form__field-group {
	margin: 0;
}

.order-form__submit-container {
	@media #{$mobile-only} {
		margin-top: -26px;
	}

	@media #{$not-mobile} {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	@media #{$desktop-only} {
		padding: 0 175px;
		box-sizing: border-box;
	}
}

.order-form__submit {
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 16px 0;

	@media #{$tablet-only} {
		max-width: 230px;
		margin-top: 3px;
		margin-bottom: 50px;
		padding-right: 28px;
		padding-left: 28px;
	}

	@media #{$desktop-only} {
		max-width: 230px;
		margin-top: 0;
		margin-bottom: 50px;
		padding-right: 28px;
		padding-left: 28px;
	}
}

.order-form__note {
	display: block;
	padding-top: 10px;
	font-size: 14px;
	line-height: 16px;
	order: 1;

	@media #{$not-mobile} {
		align-self: baseline;
		max-width: 350px;
		font-size: 17px;
		line-height: 30px;
	}
}
