.page {
	font-family: var(--main-font);
	font-size: 15px;
	line-height: 24px;
	color: var(--base-color);
}

.page__centerer {
	margin: 0 30px;

	@media (--not-mobile) {
		margin: 0 50px;
	}

	@media (--desktop) {
		width: 1050px;
		margin: 0 auto;
	}
}
