.page {
	height: 100%;
	font-family: var(--main-font);
	font-size: 15px;
	line-height: 24px;
	color: var(--base-color);
	background-color: var(--major-color);
}

.page__centerer {
	--mockup-indent-s: 30;
	--mockup-indent-m: 50;
	--mockup-viewport-s: 320;
	--mockup-viewport-m: 768;
	--increment-indent: calc(var(--mockup-indent-m) - var(--mockup-indent-s));
	--increment-viewport: calc(var(--mockup-viewport-m) - var(--mockup-viewport-s));
	--content-indent: calc(var(--mockup-indent-s) * 1px + var(--increment-indent) * (100vw - var(--mockup-viewport-s) * 1px) / var(--increment-viewport));
	margin-inline: var(--content-indent);

	@media #{$not-mobile} {
		--content-indent: 50px;
	}

	@media #{$desktop-only} {
		--content-indent: calc((100vw - 1050px) / 2);
	}

	&--only-mobile_on {
		@media #{$not-mobile} {
			display: contents;
		}
	}

	&--only-mobile_off {
		@media #{$mobile-only} {
			display: contents;
		}
	}

	&--only-desktop_on {
		@media #{$not-desktop} {
			display: contents;
		}
	}

	&--only-desktop_off {
		@media #{$desktop-only} {
			display: contents;
		}
	}
}

.page__body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100%;
	margin: 0;
}

.page__hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.page__modal-container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255, 0.9);
}
