.page {
	height: 100%;
	font-family: var(--main-font);
	font-size: 15px;
	line-height: 24px;
	color: var(--base-color);
	background-color: var(--major-color);
}

.page__centerer {
	margin: 0 30px;

	@media (--not-mobile) {
		margin: 0 50px;
	}

	@media (--desktop) {
		width: 1050px;
		margin: 0 auto;
	}
}

.page__body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100%;
}

.page__hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
