.production {
	--production-side-indent: 0;
	display: grid;
	margin-bottom: 58px;
	border: 1px solid var(--dark-minor-color);
	padding-left: var(--production-side-indent);
	padding-right: var(--production-side-indent);

	@media #{$mobile-only} {
		--production-side-indent: 32px;
	}

	@media #{$tablet-only} {
		--production-side-indent: 40px;
		margin-bottom: 64px;
	}

	@media #{$desktop-only} {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, auto);
		column-gap: 23px;
		margin-bottom: 104px;
	}

	&:hover {
		box-shadow: var(--middle-shadow);
	}

	&:active {
		box-shadow: var(--small-shadow);
	}
}

.production__title {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 25px;
	margin-top: 22px;
	margin-bottom: 26px;

	@media #{$tablet-only} {
		gap: 33px;
		margin-top: 35px;
		margin-bottom: 13px;
		font-size: 20px;
	}

	@media #{$desktop-only} {
		--production-side-indent: 55px;
		grid-auto-flow: row;
		grid-template-columns: 1fr;
		gap: 20px;
		max-width: min-content;
		margin-top: 39px;
		margin-bottom: 19px;
		padding-left: var(--production-side-indent);
		padding-right: var(--production-side-indent);
		font-size: 20px;
	}

	&::before {
		content: "";
		width: 32px;
		height: 32px;
		background-color: var(--light-accent-color);
		mask: url("../../icons/stack.svg#camera");
	}
}

.production__video-wrapper {
	justify-self: center;
	align-self: start;

	@media #{$not-mobile} {
		order: -1;
	}

	@media #{$not-desktop} {
		margin-left: calc(-1 * var(--production-side-indent));
		margin-right: calc(-1 * var(--production-side-indent));
	}

	@media #{$desktop-only} {
		grid-row: 1 / -1;
		grid-column: 1 / 2;
	}
}

.production__description {
	--production-side-indent: 55px;
	font-size: 13px;

	@media #{$mobile-only} {
		margin-top: 27px;
	}

	@media #{$not-mobile} {
		font-size: 15px;
	}

	@media #{$desktop-only} {
		padding-left: var(--production-side-indent);
		padding-right: var(--production-side-indent);
	}

	& p {
		margin: 8px 0;
	}
}

.production__button {
	--production-side-indent: 55px;
	justify-self: center;
	max-width: max-content;
	margin-top: 32px;
	margin-bottom: 32px;
	padding: 16px 20px;
	box-sizing: border-box;

	@media #{$tablet-only} {
		max-width: 100%;
		margin-top: 32px;
		margin-bottom: 45px;
	}

	@media #{$desktop-only} {
		align-self: center;
		margin-top: 33px;
		margin-right: var(--production-side-indent);
		margin-bottom: 57px;
		margin-left: var(--production-side-indent);
		padding: 17px 43px;
	}
}
