.promo__subtitle {
	color: var(--light-accent-color);
	text-transform: uppercase;
}

.promo__details-list {
	line-height: 20px;
}

.promo__price {
	font-weight: 700;
	font-size: 17px;
	line-height: 24px;
	text-align: center;
}
