.slider__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, auto);

	@media #{$desktop-only} {
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(5, auto);
	}
}

.slider__item {
	visibility: hidden;
	grid-column: 1 / -1;
	grid-row: 1 / -1;

	&--current {
		z-index: 1;
		visibility: visible;
	}
}

.slider__button {
	width: 50px;
	height: 26px;
	padding: 13px 40px;
	box-sizing: border-box;
	background-color: var(--main-color);
	border: 1px solid var(--dark-minor-color);
	outline: 2px dashed;
	outline-offset: -2px;
	transform: translateZ(0);


	@media #{$not-mobile} {
		border: none;
	}
}
