.slider__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, auto);

	@media #{$desktop-only} {
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(5, auto);
	}
}

.slider__item {
	visibility: hidden;
	grid-column: 1 / -1;
	grid-row: 1 / -1;

	&--current {
		z-index: 1;
		visibility: visible;
	}
}

.slider__buttons {
	display: grid;
	grid-auto-flow: column;

	@media #{$not-mobile} {
		gap: 37px;
	}
}

.slider__button {
	padding: 13px 40px;
	background-color: inherit;
	border: 1px solid var(--dark-minor-color);
	box-sizing: border-box;

	@media #{$not-mobile} {
		padding: 0;
		border: none;
	}

	&:hover {
		opacity: 0.6;
	}

	&:active {
		opacity: 0.3;
	}

	&--back {
		transform: rotate(180deg);
	}

	&::before {
		content: "";
		display: block;
		width: 50px;
		height: 26px;
		background-color: var(--main-color);
		mask: url("../../icons/stack.svg#big-arrow") no-repeat center / contain;
		transform: translateZ(0);
	}
}
