.social {
	@media #{$mobile-only} {
		padding-bottom: 18px;
		border-bottom: 1px solid #e5e5e5;
	}
}

.social__list {
	display: grid;
	grid-auto-flow: dense;
	grid-template-columns: repeat(3, auto);
	justify-content: center;
	gap: 29px;
	margin: 0;
	padding: 0;

	@media #{$mobile-only} {
		margin: 10px 0;
	}
}

.social__item {
	&::marker {
		color: transparent;
	}
}

.social__link {
	&--tg {
		--social-icon: url("../../icons/stack.svg#social_tg");
	}

	&--vk {
		--social-icon: url("../../icons/stack.svg#social_vk");
	}

	&--yt {
		--social-icon: url("../../icons/stack.svg#social_yt");
	}

	&::before {
		content: "";
		display: block;
		width: 28px;
		height: 28px;
		background-color: var(--light-main-color);
		mask: var(--social-icon) no-repeat center / contain;
	}
}
