.social {
	@media #{$mobile-only} {
		padding-bottom: 18px;
		border-bottom: 1px solid #e5e5e5;
	}
}

.social__list {
	display: grid;
	grid-auto-flow: dense;
	grid-template-columns: repeat(3, auto);
	justify-content: center;
	gap: 29px;
	margin: 0;
	padding: 0;

	@media #{$mobile-only} {
		margin: 10px 0;
	}
}

.social__item {
	&::marker {
		color: transparent;
	}
}

.social__link {
	&::before {
		content: "";
		display: block;
		width: 28px;
		height: 26px;
		outline: 2px dashed;
		outline-offset: -2px;
		background-color: #231f20;
	}
}
