.video {
	position: relative;
}

.video__image {
	display: block;
	background-color: var(--dark-minor-color);
	object-fit: cover;

	@media #{$tablet-only} {
		width: 668px;
		height: 455px;
	}

	@media #{$desktop-only} {
		min-width: 683px;
		height: 455px;
	}
}

.video__button {
	--video-button-width: 110px;
	--video-button-height: 110px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: var(--video-button-width);
	height: var(--video-button-height);
	background: url("../../icons/stack.svg#play") no-repeat center / contain;
	border: none;
	transform: translate(-50%, -50%);

	&:hover {
		width: calc(var(--video-button-width) * 1.2);
		height: calc(var(--video-button-height) * 1.2);
	}

	&:active {
		width: calc(var(--video-button-width) * 0.8);
		height: calc(var(--video-button-height) * 0.8);
		opacity: 0.3;
	}
}
