.video {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		display: block;
		width: 110px;
		height: 110px;
		background: url("../../icons/stack.svg#play") no-repeat center / contain;
	}
}

.video__image {
	display: block;
	background-color: var(--dark-minor-color);

	@media #{$tablet-only} {
		width: 668px;
		height: 455px;
	}

	@media #{$desktop-only} {
		width: 683px;
		height: 455px;
	}
}

	--video-button-width: 116px;
	--video-button-height: 116px;
