:root {
	--base-color: #444444;
	--main-color: #000000;
	--light-main-color: #231f20;
	--light-dull-main-color: rgba(0, 0, 0, 0.6);
	--extra-dull-main-color: rgba(0, 0, 0, 0.3);
	--major-color: #ffffff;
	--minor-color: #f1f1f1;
	--light-minor-color: #f9f9f9;
	--middle-minor-color: #e6e6e6;
	--dark-minor-color: #ececec;
	--accent-color: #62d1ba;
	--light-accent-color: #63d1bb;
	--extra-light-accent-color: #59d5bc;
	--dark-accent-color: #56c3b2;
	--extra-dark-accent-color: #46c1ae;
	--accidental-accent-color: #149080;
	--dull-black: rgb(0 0 0 / 0.1);
	--dull-extra-black: rgba(0, 1, 1, 0.25);
	--small-shadow: 0px 3px 5px var(--dull-black);
	--middle-shadow: 0px 6px 10px var(--dull-black);
	--big-shadow: 0px 5px 10px var(--dull-extra-black);
}
