:root {
	--base-color: #444444;
	--main-color: #000000;
	--major-color: #ffffff;
	--minor-color: #f1f1f1;
	--accent-color: #62d1ba;
	--light-accent-color: #63d1bb;
	--extra-light-accent-color: #59d5bc;
	--dark-accent-color: #56c3b2;
	--extra-dark-accent-color: #46c1ae;
	--accidental-accent-color: #149080;
	--additional-color: #ececec;
	--small-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
	--middle-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
	--big-shadow: 0px 5px 10px rgba(0, 1, 1, 0.25);
}
