<footer class="main-footer">
	<div class="page__centerer main-footer__container">
		<a class="main-footer__logo" href="index.html">
			<svg class="main-footer__logo-image" width="102" height="34" role="img" aria-label="Логотип интернет-магазина Мишка.">
				<use href="#" aria-hidden="true" />
			</svg>
		</a>
		<section class="main-footer__social social">
			<h2 class="page__hidden">Мы в соцсетях</h2>
			<ul class="social__list">
				<li class="social__item">
					<a class="social__link social__link--vk link" href="https://vk.com/htmlacademy">
						<span class="page__hidden">Вконтакте</span>
					</a>
				</li>
				<li class="social__item">
					<a class="social__link social__link--yt link" href="https://www.youtube.com/user/htmlacademyru">
						<span class="page__hidden">Ютуб</span>
					</a>
				</li>
				<li class="social__item">
					<a class="social__link social__link--tg link" href="https://t.me/htmlacademy">
						<span class="page__hidden">Телеграм</span>
					</a>
				</li>
			</ul>
		</section>
		<section class="main-footer__copyright copyright">
			<h2 class="copyright__title heading heading--level_4">Разработано
				<a class="copyright__link" href="https://htmlacademy.ru/intensive/adaptive">
					<span class="page__hidden">«Html Academy»</span>
				</a>
			</h2>
		</section>
	</div>
</footer>
