<header class="page-header">
	<a class="page-header__logo" href="index.html">
		<img class="page-header__logo-image" src="../img/logo-mobile.svg" width="86" height="35" alt="Логотип интернет-магазина Мишка.">
	</a>
	<nav class="page-header__navigation navigation">
		<button class="navigation__toggle button" type="button">
			<span class="visually-hidden">Открыть меню</span>
		</button>
		<ul class="navigation__list site-navigation">
			<li class="navigation__item">
				<a class="navigation__link link heading heading--level_5" href="catalog.html">Каталог товаров</a>
			</li>
			<li class="navigation__item">
				<a class="navigation__link link heading heading--level_5" href="form.html">Вязание на заказ</a>
			</li>
		</ul>
		<ul class="navigation__list user-navigation">
			<li class="navigation__item">
				<a class="navigation__link link heading heading--level_5" href="javascript:undefined;">Поиск по сайту</a>
			</li>
			<li class="navigation__item">
				<a class="navigation__link link heading heading--level_5" href="javascript:undefined;">Корзина: пока пуста</a>
			</li>
		</ul>
	</nav>
</header>
