<header class="main-header page__centerer">
	<a class="main-header__logo" href="index.html">
		<picture>
			<source  media="(min-width: 1150px)" srcset="../img/logo.svg#logo-desktop">

			<source  media="(min-width: 768px)" srcset="../img/logo.svg#logo-tablet">

			<img class="main-header__logo-image" src="../img/logo.svg#logo-mobile" width="86" height="36" alt="Логотип интернет-магазина Мишка.">
		</picture>
	</a>
	<nav class="main-header__navigation navigation">
		<button class="navigation__toggle button" type="button">
			<span class="page__hidden">Открыть меню</span>
		</button>
		<ul class="navigation__list navigation__site-navigation site-navigation">
			<li class="navigation__item">
				<a class="navigation__link link heading heading--level_5" href="catalog.html">Каталог товаров</a>
			</li>
			<li class="navigation__item">
				<a class="navigation__link link heading heading--level_5" href="form.html">Вязание на заказ</a>
			</li>
		</ul>
		<ul class="navigation__list navigation__user-navigation user-navigation">
			<li class="navigation__item">
				<a class="navigation__link navigation__link--icon_on navigation__link--icon_search link heading heading--level_5" href="javascript:undefined;">
					<span class="navigation__link-text">Поиск по сайту</span>
				</a>
			</li>
			<li class="navigation__item">
				<a class="navigation__link navigation__link--icon_on navigation__link--icon_cart link heading heading--level_5" href="javascript:undefined;">Корзина: пока пуста</a>
			</li>
		</ul>
		<ul class="navigation__list navigation__promo-navigation promo-navigation">
			<li class="navigation__item">
				<a class="navigation__link link" href="javascript:undefined;">Новые поступления</a>
			</li>
			<li class="navigation__item">
				<a class="navigation__link link" href="javascript:undefined;">Распродажа</a>
			</li>
		</ul>
	</nav>
	<p class="main-header__note">Бесплатная доставка по России</p>
</header>
