{# Добавь modal--active для активации модального окна #}
<div class="page__modal-container modal">
	<div class="modal__content">
		<div class="page__centerer page__centerer--only-mobile_on">
			<h2 class="modal__title heading heading--level_2">Добавить в корзину</h2>
			<form class="modal__form add-to-cart form" action="https://echo.htmlacademy.ru/" method="post">
				<fieldset class="form__group">
					<legend class="form__title">Выберите размер:</legend>
					<ul class="control-container form__radio form__list">
						<li class="form__item">
							<label class="form__control">
								<input class="form__input" type="radio" name="size" value="s" checked>
								<span class="form__label">S</span>
							</label>
						</li>
						<li class="form__item">
							<label class="form__control">
								<input class="form__input" type="radio" name="size" value="m">
								<span class="form__label">M</span>
							</label>
						</li>
						<li class="form__item">
							<label class="form__control">
								<input class="form__input" type="radio" name="size" value="l">
								<span class="form__label">L</span>
							</label>
						</li>
					</ul>
				</fieldset>
				<button class="form__button button button--accent button--small" type="submit">Добавить</button>
			</form>
		</div>
	</div>
</div>
