{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="catalog">
	<header class="catalog__header hero-header">
		<h1 class="hero-header__title">Каталог товаров</h1>
	</header>
	<section class="catalog__cards">
		<h2 class="visually-hidden">Список товаров.</h2>
		<ul class="catalog__list">
			<li class="catalog__item card">
				<a class="card__link" href="#">
					<h3 class="card__title">Зайчик-попрыгайчик</h3>
				</a>
				<a class="card__link" href="#">
					<img class="card__image" src="#" width="260" height="195" alt="Вязаная игрушка зайчик.">
				</a>
				<p class="card__description">Рост 30 см, вес 200 г</p>
				<p class="card__inner">
					<b class="card__price">1 200 руб.</b>
					<a class="card__button button" href="#">
						<span class="visually-hidden">В корзину.</span>
					</a>
				</p>
			</li>
		</ul>
	</section>
</main>
{% endblock %}
