{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="catalog">
	<header class="catalog__header hero">
		<h1 class="hero__title heading">Каталог товаров</h1>
	</header>
	<section class="catalog__cards">
		<h2 class="visually-hidden">Список товаров.</h2>
		<ul class="catalog__list">
			<li class="catalog__item card">
				<a class="card__link" href="#">
					<h3 class="card__title heading">Зайчик-попрыгайчик</h3>
				</a>
				<a class="card__link" href="#">
					<img class="card__image" src="#" width="260" height="195" alt="Вязаная игрушка зайчик.">
				</a>
				<p class="card__description">Рост 30 см, вес 200 г</p>
				<p class="card__inner">
					<b class="card__price">1 200 руб.</b>
					<a class="card__button button" href="#">
						<span class="visually-hidden">В корзину.</span>
					</a>
				</p>
			</li>
			<li class="catalog__item card">
				<a class="card__link" href="#">
					<h3 class="card__title heading">Корзинка для белья</h3>
				</a>
				<a class="card__link" href="#">
					<img class="card__image" src="#" width="260" height="195" alt="Вязаная игрушка зайчик.">
				</a>
				<p class="card__description">Диаметр 15 см, высота 10 см</p>
				<p class="card__inner">
					<b class="card__price">690 руб.</b>
					<a class="card__button button" href="#">
						<span class="visually-hidden">В корзину.</span>
					</a>
				</p>
			</li>
			<li class="catalog__item card">
				<a class="card__link" href="#">
					<h3 class="card__title heading">Большая корзинка для игрушек</h3>
				</a>
				<a class="card__link" href="#">
					<img class="card__image" src="#" width="260" height="195" alt="Вязаная игрушка зайчик.">
				</a>
				<p class="card__description">Диаметр 30 см, высота 30 см</p>
				<p class="card__inner">
					<b class="card__price">1 500 руб.</b>
					<a class="card__button button" href="#">
						<span class="visually-hidden">В корзину.</span>
					</a>
				</p>
			</li>
		</ul>
	</section>
	<section class="production">
		<h2 class="production__title heading">Процесс производства</h2>
		<video width="260" controls poster="#">
			<source src="#" type="video/mp4">
			<source src="#" type="video/ogg">
			<source src="#" type="video/webm">
		</video>
		<p class="production__text">По просьбам наших любимых фолловеров мы сняли для вас подробное видео о том, как появляются наши товары.</p>
	</section>
	<a class="catalog__button button" href="#">Сделать заказ</a>
</main>
{% endblock %}
