{% set pageId = 2 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="custom">
	<header class="custom__header hero">
		<h1 class="hero__title heading">Вязание на заказ</h1>
	</header>
	<section class="custom__order">
		<h2 class="visually-hidden">Форма заказа изделия.</h2>
		<p class="custom__text">Мы будем рады воплотить в жизнь ваши пожелания! Заполните простую форму заказа и мы свяжемся с вами, чтобы уточнить детали.</p>
		<form class="custom__form order-form" method="post" action="https://echo.htmlacademy.ru/">
			<fieldset class="order-form__group">
				<legend class="order-form__title">Тип</legend>
				<ul class="control-container order-form__list order-form__radio">
					<li class="order-form__item">
						<label class="control radio">
							<input class="visually-hidden control__input" type="radio" name="product-type" value="accessories" checked>
							<span class="control__icon"></span>
							<span class="control__label">Аксессуар для интерьера</span>
						</label>
						<label class="control radio">
							<input class="visually-hidden control__input" type="radio" name="product-type" value="toys">
							<span class="control__icon"></span>
							<span class="control__label">Детская игрушка</span>
						</label>
					</li>
				</ul>
			</fieldset>
			<fieldset class="order-form__group">
				<legend class="order-form__title">Цвет</legend>
				<ul class="control-container order-form__list order-form__checkbox">
					<li class="order-form__item">
						<label class="control checkbox">
							<input class="visually-hidden control__input" type="checkbox" name="white" checked>
							<span class="control__icon"></span>
							<span class="control__label">Белый</span>
						</label>
					</li>
					<li class="order-form__item">
						<label class="control checkbox">
							<input class="visually-hidden control__input" type="checkbox" name="gray" checked>
							<span class="control__icon"></span>
							<span class="control__label">Серый</span>
						</label>
					</li>
					<li class="order-form__item">
						<label class="control checkbox">
							<input class="visually-hidden control__input" type="checkbox" name="tiffany">
							<span class="control__icon"></span>
							<span class="control__label">Тиффани</span>
						</label>
					</li>
					<li class="order-form__item">
						<label class="control checkbox">
							<input class="visually-hidden control__input" type="checkbox" name="black">
							<span class="control__icon"></span>
							<span class="control__label">Черный</span>
						</label>
					</li>
					<li class="order-form__item">
						<label class="control checkbox">
							<input class="visually-hidden control__input" type="checkbox" name="pink">
							<span class="control__icon"></span>
							<span class="control__label">Розовый</span>
						</label>
					</li>
					<li class="order-form__item">
						<label class="control checkbox">
							<input class="visually-hidden control__input" type="checkbox" name="orange">
							<span class="control__icon"></span>
							<span class="control__label">Оранжевый</span>
						</label>
					</li>
				</ul>
			</fieldset>
			<fieldset class="order-form__group">
				<legend class="order-form__title">Фио</legend>
				<p class="order-form__field-group field">
					<label class="field__label" for="user-name">Имя:</label>
					<input class="field__input" type="text" id="user-name" name="user-name" placeholder="Введите ваше имя*" required>
				</p>
				<p class="order-form__field-group field">
					<label class="field__label" for="user-surname">Фамилия:</label>
					<input class="field__input" type="text" id="user-surname" name="user-surname" placeholder="Укажите фамилию*" required>
				</p>
				<p class="order-form__field-group field">
					<label class="field__label" for="user-patronymic">Отчество:</label>
					<input class="field__input" type="text" id="user-patronymic" name="user-patronymic" placeholder="Отчество, если желаете">
				</p>
			</fieldset>
			<fieldset class="order-form__group">
				<legend class="order-form__title">Тел</legend>
				<p class="order-form__field-group field">
					<label class="visually-hidden" for="user-phone">Ваш номер телефона.</label>
					<input class="field__input" type="tel" id="user-phone" name="user-phone" pattern="+7 [0-9]{3} [0-9]{3} [0-9]{2} [0-9]{2}" placeholder="+7 ХХХ ХХХ ХХ ХХ*" required>
				</p>
			</fieldset>
			<fieldset class="order-form__group">
				<legend class="order-form__title">E-mail</legend>
				<p class="order-form__field-group field">
					<label class="visually-hidden" for="user-email">Ваш электронный адрес.</label>
					<input class="field__input" type="email" id="user-email" name="user-phone" placeholder="Ваш Email*" required>
				</p>
			</fieldset>
			<fieldset class="order-form__group">
				<legend class="order-form__title">Доп</legend>
				<p class="order-form__field-group field">
					<label class="visually-hidden" for="user-message">Ваше сообщение.</label>
					<textarea class="field__input" id="user-message" rows="7" placeholder="Опишите все ваши пожелания к заказу"></textarea>
				</p>
			</fieldset>
			<span class="order-form__note"><sup>*</sup>Поля обязательны для заполнения</span>
			<button class="order-form__submit button" type="submit">Отправить заказ</button>
		</form>
	</section>
</main>
{% endblock %}
