{% set pageId = 0 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="index">
	<header class="index__header hero">
		<h1 class="hero__title page__centerer heading heading--level_1">Милые штуки ручной<br> работы для дома</h1>
	</header>
	<section class="features page__centerer page__centerer--only-mobile_off ">
		<h2 class="page__hidden">Популярные разделы каталога</h2>
		<ul class="features__list">
			<li class="features__item">
				<a class="features__link features__accessories link heading heading--level_3" href="javascript:undefined;">
					<span class="features__text">Предметы интерьера</span>
				</a>
			</li>
			<li class="features__item">
				<a class="features__link features__toys link heading heading--level_3" href="javascript:undefined;">
					<span class="features__text">Детские игрушки</span>
				</a>
			</li>
		</ul>
	</section>
	<section class="promo page__centerer">
		<h2 class="promo__title heading heading--level_2">Вязаные корзинки</h2>
		<b class="promo__subtitle heading heading--level_6">товар недели</b>
		<p class="promo__text">Экологически чистая пряжа, ручная работа. Доступны в шести расцветках и трёх размерах.</p>
		<dl class="promo__details-list">
			<dt class="promo__details-name">Цвет:</dt>
			<dd class="promo__details-value">тиффани/серый</dd>
			<dt class="promo__details-name">Диаметр:</dt>
			<dd class="promo__details-value">25 см</dd>
			<dt class="promo__details-name">Высота:</dt>
			<dd class="promo__details-value">15 см</dd>
		</dl>
		<div class="promo__image-wrapper">
		<img class="promo__image" src="./img/promo-triple-basket-set.jpg" width="260" height="315" alt="Набор из трех вязаных корзинок разного размера.">
		</div>
		<b class="promo__price">Цена: 990 руб.</b>
		<a class="promo__button button button--main" href="javascript:undefined;">Заказать</a>
	</section>
	<section class="advantages page__centerer">
		<h2 class="advantages__title heading heading--level_2">Коротко о нас:</h2>
		<ul class="advantages__list">
			<li class="advantages__item heading heading--level_6">Экологически чистые материалы</li>
			<li class="advantages__item heading heading--level_6">Связано вручную с любовью и умилением</li>
			<li class="advantages__item heading heading--level_6">Скандинавский стиль по российской цене</li>
			<li class="advantages__item heading heading--level_6">Поддержка отечественного производителя</li>
			<li class="advantages__item heading heading--level_6">Увеличивает лайки на фотографиях</li>
			<li class="advantages__item heading heading--level_6">Поставляется в подарочной упаковке</li>
		</ul>
	</section>
	<div class="wrapper-feedback">
		<section class="feedback slider page__centerer">
				<h2 class="feedback__title heading heading--level_2">Отзывы</h2>
				<ul class="feedback__list slider__list">
					<li class="feedback__item slider__item slider__item--current">
						<figure class="feedback__quote user-quote">
							<blockquote class="user-quote__text">Я молодая мама, но всё равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке, и мои фотографии сразу стали более стильными, а также набирают больше лайков!</blockquote>
							<figcaption class="user-quote__author heading heading--level_5">
								Анастасия Красильникова
								<a class="user-quote__link link" href="javascript:undefined;">@misssssiskras</a>
							</figcaption>
						</figure>
					</li>
					<li class="feedback__item slider__item">
						<figure class="feedback__quote user-quote">
							<blockquote class="user-quote__text">Я сестра молодой мамы, но всё равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке, и мои фотографии сразу стали более стильными, а также набирают больше лайков!</blockquote>
							<figcaption class="user-quote__author heading heading--level_5">
								Екатерина Красильникова
								<a class="user-quote__link link" href="javascript:undefined;">@misssssiskras2</a>
							</figcaption>
						</figure>
					</li>
					<li class="feedback__item slider__item">
						<figure class="feedback__quote user-quote">
							<blockquote class="user-quote__text">Я двоюродная сестра молодой мамы, но всё равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке, и мои фотографии сразу стали более стильными, а также набирают больше лайков!</blockquote>
							<figcaption class="user-quote__author heading heading--level_5">
								Елена Красильникова
								<a class="user-quote__link link" href="javascript:undefined;">@misssssiskras3</a>
							</figcaption>
						</figure>
					</li>
				</ul>
				<div class="feedback__buttons slider__buttons">
					<button class="slider__button slider__button--back" type="button">
						<span class="page__hidden">Предыдущий отзыв</span>
					</button>
					<button class="slider__button slider__button--forward" type="button">
						<span class="page__hidden">Следующий отзыв</span>
					</button>
				</div>
				<a class="feedback__button button button--main" href="javascript:undefined;">Написать</a>
		</section>
	</div>
	<div class="page__centerer page__centerer--only-desktop_on">
		<section class="contacts">
			<div class="page__centerer page__centerer--only-desktop_off">
				<div class="contacts__content">
					<h2 class="contacts__title heading heading--level_2">Контакты</h2>
					<dl class="contacts__list">
						<dt class="contacts__name">e-mail:</dt>
						<dd class="contacts__value">
							<a class="contacts__email link" href="mailto:info@mimimishkashop.ru">info@mimimishkashop.ru</a>
						</dd>
						<dt class="contacts__name">адрес:</dt>
						<dd class="contacts__value">г. Санкт-Петербург ул. Большая Конюшенная д. 19/8, офис 101</dd>
					</dl>
				</div>
			</div>
			<div class="contacts__wrapper">
				<img class="contacts__map" src="./img/map-mobile@1x1.jpg" width="320" height="454" alt="Карта с отметкой местоположения магазина Мишка.">
			</div>
			<div class="page__centerer page__centerer--only-desktop_off">
				<a class="contacts__button button button--main" href="javascript:undefined;">Напишите нам</a>
			</div>
		</section>
	</div>
</main>
{% endblock %}
